.weather-card {
  flex: 0 0 46%; 
  transition: transform 0.3s;
}

.weather-card:hover {
  transform: scale(1.05);
}

@media (width >= 48rem) {
  .weather-card {
    flex: 0 0 31%;
  }
}

@media (width >= 64rem) {
  .weather-card {
    flex: 0 0 22%; 
  }
}
